aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
hachoir
heroku3
motor==3.3.2
psutil
pykeyboard
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
telegraph
unidecode
yt-dlp
youtube-search
youtube-search-python
gtts
lyricsgenius

# Telegram stack (STABLE)
pyrogram==2.0.106
tgcrypto==1.2.5
pytgcalls==2.1.0
